{% extends 'base.html.twig' %}

{% block body %}
	<h3>Voici les conversations en cours :</h3>
		<br>
		<a href="{{ path('AddConversation') }}" class="btn btn-success btn-success"><span class="glyphicon glyphicon-pencil"></span> Créer une nouvelle conversation</a>
		<br><br>
		<table class="table table-dark" >
			<tr>
				<th>Nom de la conversation</th>
				<th>Actions</th>
			</tr>

		    {% for conversation in conversationUsers %}
		    <tr>
		        <td>{{ conversation.name }}</td>
		        <td><a href="{{ path('showConversation', {'id_conversation': conversation.id_conversation}) }}" class="btn btn-primary btn-info"><span class="glyphicon glyphicon-pencil"></span>Converser</a></td>
		    </tr>
		    {% endfor %}
		</table>

{% endblock %}













