{% extends 'base.html.twig' %}

{% block body %}

	<h2>Bienvenue {{ username }} sur l'application Gestion de copropriété</h1>
	<br><br>


	{% if is_granted('ROLE_ADMIN') %}
	<div class='well'>
	    <h3>Vous etes administrateur de l'application !!!</h3>
	    <p>Cela vous offre plus de possibilité comme par exemple la fonctionnalité d'archivage des conversations.</p>
	</div>
	<br><br>
	{% endif %}

	<p>
Ce projet a pour objectif de vous faire réaliser une application web de gestion de copropriété. Elle
devra permettre à une copropriété autogérée (sans syndic) de gérer en toute transparence les
dépenses communes liées à la copropriété, de débattre de ces sujets, de rassembler les fonds
nécessaires au paiement des charges et de centraliser tous les documents (contrats, devis, factures,
autres) liés à la gestion de la copropriété.
</p>
	
	<br><br>
	<center>
		<img src='/accueil.jpg' >
	</center>
		<br>
	

{% endblock %}













