{% extends 'base.html.twig' %}

{% block body %}

	<h2>Bienvenue {{ username }} sur l'application Gestion de copropriété</h1>
	<br><br>


	{% if is_granted('ROLE_ADMIN') %}
	<div class='well'>
	    <h3>Vous etes administrateur de l'application !!!</h3>
	    <p>Cela vous offre plus de possibilité comme par exemple la fonctionnalité d'archivage des conversations.</p>
	</div>
	<br><br>
	{% endif %}

	<p>
Ce projet a pour objectif de vous faire réaliser une application web de gestion de copropriété. Elle
devra permettre à une copropriété autogérée (sans syndic) de gérer en toute transparence les
dépenses communes liées à la copropriété, de débattre de ces sujets, de rassembler les fonds
nécessaires au paiement des charges et de centraliser tous les documents (contrats, devis, factures,
autres) liés à la gestion de la copropriété.
Dans le cas où vous n’auriez pas le temps de réaliser toutes les fonctionnalités demandées, certaines
fonctionnalités seront marquées comme prioritaires avec un marqueur « * » dans le titre. Cela vous
aidera à choisir par quoi commencer, sachant que s’il manque une de ces fonctionnalités prioritaires,
vous serez plus pénalisés sur la notation que s’il manque des tâches non prioritaires.
En travaillant régulièrement chaque semaine, vous devriez pouvoir tout réaliser (tâches non
prioritaires comprises) ce qui vous permettra d’obtenir des points bonus et de maximiser vos chances
d’obtenir une très bonne note de projet. En effet la réalisation des tâches optionnelles peut vous
apporter des points bonus jusqu’à dépasser le barème de 20.
Les fonctionnalités sont présentées dans un ordre qui paraît le plus naturel pour exposer le projet mais
il ne reflète pas forcément l’ordre exact dans lequel vous devez implémenter ces fonctionnalités. Vous
êtes donc libres de commencer par ce que vous voulez, en gardant en tête que certaines
fonctionnalités sont prioritaires.
</p>
	
	<br><br>
	<center>
		<img src='/accueil.jpg' >
	</center>
		<br>
	

{% endblock %}













