{% extends 'base.html.twig' %}

{% block body %}
    <h3>Ajouter une pièce jointe</h3>

    {{ form_start(form) }}
        {{ form_row(form.piecesJointes) }}
        
         <button type="submit"  method='POST' class="btn btn-info">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}